# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv
.env
firestore.rules
service-account.json
feature_guideline.md

# Bot & AI
.gemini
GEMINI_RULES.md
style_guide.md
service-account.json.bak
backend/service-account.json
